<div [ngStyle]="{'font-weight':'bold'}">Выберите текст для просмотра</div>
<form class="form-inline">
  <select #select class="form-control" id="exampleFormControlSelect1">
    <option *ngFor="let name of textList">{{name}}</option>
  </select>
  <button (click)="loadText(select.options[select.selectedIndex].value)" class="btn btn-dark">Загрузить</button>
</form>

<div #allContent [ngStyle]="{'margin':'15px 0'}">
<span *ngFor="let word of text">
  <span class="word">{{word.value}}
   <select class="tag">
    <option *ngFor="let tag of formTags()" [selected]="getSelected(tag, word.pos)"><span>{{tag}}</span></option>
   </select>
  </span>
</span>
</div>

<button (click)="getAllContent()" class="btn btn-dark">Сохранить текст</button>
<button (click)="updateColoredText()" class="btn btn-light">Сохранить изменения</button>
